{% extends 'Chief/DashBoardcheif.html' %}

{% block content %}

<div class="container mt-3">
   

            <div class="row">
                <div class="container  alert-secondary">
                        <div class="row alert mt-2">
                            <div class="col-lg-8 text-center bold mb-2"> 
                                <span style="border-bottom: 5px solid rgb(231, 32, 32);">  &nbsp {{table.head}}   &nbsp </span>
                            </div>
                           
                        </div>


                        <section class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-dark">
                                    {% for j in table.column %}
                                        <th class="text-light bold1 text-center">{{j}}</th>
                                    {% endfor %}
                                    {% if check %}
                                    <th class="text-light bold1 text-center ">Action</th>
                                    {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in table.data  %}
                                    <tr>
                                    {% for j,k in i.items  %}
                                    <td class="text-secondary text-center bold1"> {{k}} </td>  
                                    {% endfor %}
                                    {% if check %}
                                    <td class="text-secondary d-flex justify-content-around">
                                        <form action="" method="post" class="d-flex inline">  
                                        {% csrf_token %}              
                                        <input type="text" name="name" hidden="true" id="" value="{{i.userid_id}}">
                                        <input type="text" name="id" hidden="true" id="" value="{{i.id}}">

                                        
                                        <input class="btn btn-warning shadow" name="View" type="submit" value="View">
                                        &nbsp &nbsp
                                        <input class="btn btn-primary shadow" name="Delete" type="submit" value="Ready">
                                        </form>   
                                    </td>
                                    {% endif %}   
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </section>
                </div>
            </div>

            
   

</div>

{% endblock  %}