{% extends 'manager/M_dashboard.html' %}
{% load static %}
{% block content %}

<div class="container mt-3">

    <div class="row d-flex justify-content-around mb-5">    
        <div class="card" style="width:16rem;max-height: 16rem;padding:5px;">
          {% if view.ProfileImage %}
          <img style="max-height: 15rem;" class="card-img-top mb-5 shadow" src="/media/{{view.ProfileImage}}" alt="Card image">
          {% else %}
          <img style="max-height: 15rem;" class="card-img-top shadow mb-5" src="{% static 'images/Vodka.jpg' %}" alt="Card image">
          {% endif %}
        </div>
    </div>

    <div class="row d-flex justify-content-around">
        <div class="col-lg-8 alert shadow">
            <div class="container bg-light border shadow alert">
                <form action="" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-lg-4 label-control"></div>
                        <div class="col-lg-8">
                            <input type="text" name="" class="form-control" id="">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around mt-5">
                        <a style="width: 150px;" href="" class="btn btn-warning">Update</a>
                        <a style="width: 150px;" href="{% url 'Ma_Dashboard' %}" class="btn btn-info">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

{% endblock  %}